
<%= form_with url: show_sessions_path do |form| %>
  <% if @students %>
      <h2 class="User-title">Student Details</h2>
      <p class="Form-section">
        <%= label_tag("pin", "PIN:",class:"Form-label") %>
        <%= text_field_tag("pin",value = @students.pin,
                          options={class: "Form-input " ,
                          autofocus: "autofocus",size:27})
        %>

        <%= label_tag("name", "NAME:",class:"Form-label") %>
        <%= text_field_tag("name",value = @students.name,
                          options={class: "Form-input ",size:27 })
        %>
      </p>
      <p class="Form-section">
        <%= label_tag("facultymsg", "Message from Counsellor:",
                      class:"Form-label") %><br>
        <%= text_area_tag("facultymsg",value = @students.faculty_msg,
                          options={placeholder: "Message",
                          class: "Form-input " ,autofocus:
                          "autofocus",cols:75,rows:2})
        %>
      </p>
      <p class="Form-section">
        <%= label_tag("msg", "Problem stated by Student:",class:"Form-label") %><br>
        <%= text_area_tag("msg",value = @students.student_msg,
                          options={placeholder: "Students problem ",
                          class: "Form-input " ,autofocus: "autofocus",cols:75,rows:2})
        %>
      </p>
  <% end %>
<% end %>
      <%= form_tag("/sessions/update", method: "put") do %>
        <div class="Button-section">
          <%= submit_tag("Back to Home",class:"add-button") %>
        </div>
      <% end %>
