<h1 class="Home-title">
    Welcome <%=session[:role] %>
</h1>

<%= form_tag("/students/show", method: "get") do %>
  <%= label_tag("pin", "Enter Pin:",class:"Form-label") %>
  <%= text_field_tag("pin",value=nil,options={placeholder:"Enter Pin",class:"Form-input",size: 30}) %>
  <%= submit_tag("Find",class:"add-button") %>
<% end %>
