<h2 class="User-title"> Faculty List</h2>
<table class="Table-section">
<tr>
<th><%= label_tag("pin", "ID",class:"Form-label") %></th>
      <th><%= label_tag("name", "NAME",class:"Form-label") %></th>
      <th><%= label_tag("msg", "BRANCH",class:"Form-label") %></th>
</tr>
<% @faculty.each do|faculty| %>

   <p class="Form-section1">
     <tr>
     <td class="Form-input1"> <%= faculty.id   %></td>
      <td class="Form-input1"><%= faculty.name  %> </td>
      <td class="Form-input1"> <%=faculty.branch %></td>
      <td class="Form-input1"><%= link_to "Delete" ,faculty,method:"delete" %></td>
      </tr>

   </p>

<% end %>
</table>
