<%= form_with url: admin_faculties_path do |form| %>
  <h1 class="Home-title">Counselling Session : <%= @faculty.name %>
    <%= link_to "Logout" ,destroy_session_path, method: "delete",class:"Logout" %>
    <%= image_tag("icons8-sign-out-50.png",
                              options = {class: "Image-section",align:"center"}) %></h1>


<% end %>

<%= form_with url: admin_students_path do |form| %>
  <h1 class="Home-title">Counselling Session : <%= @faculty.name %>
    <%= link_to "Logout" ,destroy_session_path, method: "delete",class:"Logout" %>
    <%= image_tag("icons8-sign-out-50.png",
                              options = {class: "Image-section",align:"center"}) %></h1>


<% end %>
