<h2 class="User-title"> Students List</h2>
<table class="Table-section">
<tr>
<th><%= label_tag("pin", "PIN",class:"Form-label") %></th>
      <th><%= label_tag("name", "NAME",class:"Form-label") %></th>
      <th><%= label_tag("msg", "BRANCH",class:"Form-label") %></th>
</tr>
<% @students.each do|student| %>

   <p class="Form-section1">
     <tr>
     <td class="Form-input1"> <%= student.pin   %></td>
      <td class="Form-input1"><%= student.name  %> </td>
      <td class="Form-input1"> <%=student.branch %></td>
      <td class="Form-input1"><%= link_to "Delete" ,student,method:"delete" %></td>
      </tr>

   </p>

<% end %>
</table>
