<%= form_with url: show_faculties_path do |form| %>

<h4 class="Home-authenticate">
    <%= link_to "Select Students ",faculties_select_path,id:"1" %>|
</h4>

<h4 class="Home-authenticate">
    <%= link_to "Send Counselling Message to all Students ", faculties_all_path,id:"2" %>|
</h4>

<h4 class="Home-authenticate">
    <%= link_to "Send Counselling Message to a Student ", faculties_single_path %>
</h4>

<h4 class="Home-authenticate">
    <%= link_to "View Students ", faculties_view_path %>
</h4>
<% end %>
