<h1 class="Home-title">
    Welcome to the Counselling Session

</h1>

<div class="Form-section">
<h2 class="Home-form-label">Select the role
<%= image_tag("icons8-counseling-64.png",
                            options = {class: "Image-section",align:"center"}) %>
</h2>
</div>
<div class="Form-section">
<p class="Roles">
    <%= link_to "Faculty",faculties_path,id: "faculty" %>|

</p>

<p class="Roles">
    <%= link_to "Student", students_path,id: "student" %>|
</p>

<p class="Roles">
    <%= link_to "Parent", session_path,id: "parent" %>
</p>
</div>

<%= image_tag("counsel.jfif",
                            options = {class: "Image-section1",align:"center"}) %>
