<!DOCTYPE html>
<html>
  <head>
    <title>Counsellor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 class="Header-title">
     COUNSELLING ASSISTANT</h1>

     <% if flash[:success] %>
        <p class="Flash-success">
           <%= flash[:success] %>
        </p>
     <% end %>
     <% if flash[:error] %>
        <p class="Flash-error">
           <%= flash[:error] %>
        </p>
     <% end %>
    <%= yield %>
  </body>
</html>
